label, input, button{
    display: inline-block;
}

label, input {
    width: 50px;
    margin: 5px;
}

.container {
    margin: 5px;
    border: 2px solid;
    width: 500px;
}

.buttonContainer {
    display: block;
    padding: 5px;
}
